<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}

    <h3>{{screamIt  welcomeText}}</h3>

    {{> footer}}

  </body>
</html>
